*{
  font-family: montserrat;
}
body{
  background: #0d6efd;
  margin: 0rem 2rem;
}
.section-padding{
  padding: 10px 0;
}
.App {
  text-align: center;
}
p{
  color: white;
}

/* navbar */
.navbar-nav a{
  
  font-size: 20px;
  font-weight: 500px;
  color:#5D8AA8;
}
.navbar-light .navbar-brand{
  color:#7DF9FF;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
  color: #000;
}
.navbar-light .navbar-link .navbar-nav{
  color: #7DF9FF;
}
@media only screen and (max-width:767px) {
  .navbar-nav{
      text-align: center;
  }
  .navbar-nav a{
  
    font-size: 15px;
    font-weight: 500px;
    color:#5D8AA8;
  }
}
.converter {
  margin-top: 20%;
  margin-left: 20%;
  
}

.container-converter {
  /* margin: 1rem; */
  padding-left: 1rem;
  display: flex;
  gap: 3rem;
}
.neutral{
  padding-top: 100%;
}
.d-grid{
  margin-top: 3rem;
  margin-right: 30%;
}